project_name       = "kruze-cloud-lab"
environment        = "prod"
aws_vpc_cidr       = "10.2.0.0/16"
public_subnet_cidr = "10.2.1.0/24"
availability_zone  = "us-east-1a"
ami_id             = "REPLACE_WITH_YOUR_AMI_ID"
instance_type      = "t2.micro"